<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="row col-lg-1"></div>
    <div class="row col-lg-11">
      <ul>
        <li><h1>Trabajo 1</h1> - <h3>(Años)</h3></li>
          <p>
            Lorem ipsum dolor sit amet, consectet
            Lorem ipsum dolor sit amet, consectet
            Lorem ipsum dolor sit amet, consectet
          </p>
          <li><h1>Trabajo 2</h1> - <h3>(Años)</h3></li>
          <p>
            Lorem ipsum dolor sit amet, consectet
            Lorem ipsum dolor sit amet, consectet
            Lorem ipsum dolor sit amet, consectet
          </p>
          <li><h1>Trabajo 3</h1> - <h3>(Años)</h3></li>
          <p>
            Lorem ipsum dolor sit amet, consectet
            Lorem ipsum dolor sit amet, consectet
            Lorem ipsum dolor sit amet, consectet
          </p>
      </ul>

    </div>

</div>
